<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" ></script>
    <script src="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" ></script>
    
</head>
<body>
    <section class="main-content">
        <div class="page-content " >
   <a href="/cat-offer" class="btn btn-success" style="font-size: larger;">add offer by category wise</a>


    <table style="background-color: rgb(203, 203, 216);" id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>NO</th>
               
                <th> Category</th>
              
                <th>Discount</th>
                <th>Valid From</th>
                 <th>Valid To</th>
                  <th>Actual Amount</th>
                   <th>After Discount Amount</th>
               

               
            </tr>
        </thead>
        <tbody>
            {{#each updated}}
       
            <tr>
                <td>{{@index}}</td>
                <td>{{this.category}}</td>
                <td>{{this.discount}}%</td>
                 <td>{{this.valid_from}}</td>
                  <td>{{this.valid_to}}</td>
                   <td>{{this.oldPrice}}</td>
                    <td>{{this.price}}</td>
                    

                
               
         
                 </td>
                
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>NO</th>
               
                <th> Category</th>
              
                <th>Discount</th>
                <th>Valid From</th>
                 <th>Valid To</th>
                  <th>Actual Amount</th>
                   <th>After Discount Amount</th>
               
            </tr>
        </tfoot>
    </table>
    </div>
    </section>
</body>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

</html>