

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
    <script  src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script  src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  
</head>
<body>
    
    <section class="main-content">
       
         
        <div class="page-content" style="padding: 10px; margin-top: 200px;">
             
            <div>
          <a href="/add-product" type="button " style="width: 100px; height: 20px; background-color: rgb(79, 238, 16); margin-bottom: 20px; " class="  form-control form-control-sm   "  placeholder="button" aria-controls="example " ><span style="font-weight: bold ;" class="align-items-center" > Add Product </span> </a>
    </div>
    <table id="example" class="ui celled table" style="width:100%; ">
        <thead>
            <tr>
                <th>NO</th>
                <th>Name</th>
                <th>Size</th>
                <th>Category</th>
                <th>Price</th>
                <th>Discription</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
              {{#each products}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.productname}}</td>
                <td>{{this.size}}</td>
                <td>{{this.category}}</td>
                <td>{{this.price}}</td>
                <td>{{this.discription}}</td>
                {{!-- <td> <img style="width: 50px; height:50px" src="product-image/{{this._id}}.jpg" alt=""></td> --}}

                <td class="d-none d-md-table-cell">
                                            <img src="product-image/{{this._id}}1.jpg" width="50px"
                                                height="50px" alt="">
                                        </td>

                <td><a href="/edit-product/{{this._id}}" class="btn btn-primary" type="submit">Edit</a></td>
                <td> <a href="/deleteProduct/{{this._id}}" class="btn btn-danger"
                onclick="return confirm('are you want to delete{{this.productname}}?')" type="submit">delete</a>
            </td>
            </tr>
             {{/each}}
               </tbody>
        <tfoot>
            <tr>
                 <th>NO</th>
                <th>Name</th>
                <th>Size</th>
                <th>Category</th>
                <th>Price</th>
                <th>Discription</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>

        </div>
    </section>
   
</body>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
</html>
