

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">CASUALS</li>
				</ol>
			</div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian">
						<!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="/casual">CASUALS</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="/sports">SPORTS</a></h4>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="/formal">FORMALS</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="/sneakers">SNEAKERS</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a  href="/flipflop">FLIPFLOP</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="/sandals">Sandals</a></h4>
							</div>
						</div>

					</div>
					<!--/category-productsr-->




					<div class="shipping text-center">
						<!--shipping-->
						<img src="images/home/shipping.jpg" alt="" />
					</div>
					<!--/shipping-->

				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items">
					<!--features_items-->
					<h2 class="title text-center">Features Items</h2>

					{{#each casual}}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<a href="/product-details/{{this._id}}"><img src="product-image/{{this._id}}1.jpg"
											alt="" /></a>
									<h2 style="font-weight: bold;">{{this.productname}}</h2>
									<p>{{this.discription}}</p>


									<h4>{{this.name}} {{#if this.discount}}<span class="badge badge-success">Discount
											-{{this.discount}}%</span></h6>{{else }} <span class="badge badge-success">Discount -0%</span>
									</h4> {{/if}}
									{{#if this.discount}} <p class="item-price"><strike>₹{{this.oldPrice}}</strike>
										<span>₹{{this.price}}</span></p>
									{{else }} <p class="item-price"> <span>₹{{this.price}}</span></p> {{/if}}



									<p> Size: {{this.size}}</p>
									<button onclick="addToCart('{{this._id}}')" type="button"
										class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</div>

							</div>
						
						</div>
					</div>
					{{/each}}
				</div>
				<ul class="pagination">
				<li class="active"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">&raquo;</a></li>
			</ul>
			</div>

			
		</div>
		<!--features_items-->
	</div>
	</div>
	</div>
</section>
<script>
	function addToCart(proId) {
		console.log("jofsad")
		$.ajax({
			url: '/add-to-cart/' + proId,
			method: 'GET',
			success: (response) => {
				if (response.status) {
					let count = $('#cart-count').html()
					count = parseInt(response.cartCount)
					$("#cart-count").html(count)
				}

			}
		})
	}
</script>