







<script
        src="https://www.paypal.com/sdk/js?client-id=AXCYt_xCh1RQeq3VBd79TVwRrn58jdYVaC2czZ3m_wRE5UhWdFx5agm7I_GS2x0ysPzryfeA9JQTCqu6&disable-funding=credit,card"></script><section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div>
        <!--/breadcrums-->




        <div class=" clearfix">
            <div class="row">
                <div class="col-sm-6">
                    <div class="shopper-info">
                        <p>DELIVERY ADDRESS</p>
                        {{#each address}}
                        <div>
                            <h5>ADDRESS</h5>
                            <p>{{this.details.firstname}}<br>
                                {{this.details.address}}<br>
                                {{this.details.city}} <br>
                                {{this.details.state}} <br>
                                {{this.details.pincode}}</p>
                            <button style="width:20em; background-color: #fc9a1a;" type="submit" onclick="Passaddress('{{this.details.firstname}}',
                                    '{{this.details.address}}',
                                     '{{this.details.city}}',
                                      '{{this.details.state}}',
                                      '{{this.details.pincode}}')" class="btn btn-primary">
                                DELIVER HERE</button>
                        </div>
                        {{/each}}
                        <a style="width: 28rem;" class="btn btn-primary float-right" href="/adress">ADD NEW
                            ADDRESS</a>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="bill-to">
                        <p>APPLY COUPON</p>
                        <div class="form-one">
                            <div class="input-group">

                                    <input type="text" class="form-control" id="input-coupon" name="coupon"
                                        placeholder="Promo code">
                                        <br>

                                    <div class="input-group-append">
                                        <button type="coupon" id="coupon-code" onclick="applyCoupons()"
                                            class="btn btn-secondary">Reedem code</button>

                                    </div>
                                    <p id="success" style="display: none; color: rgb(116, 255, 51);"><strong>*suucess
                                            coupon
                                            applied</strong></p>
                                    <p id="used" style="display: none; color: rgb(224, 157, 191);"><strong>*coupon is
                                            alreadey used
                                            cannot apply</strong></p>
                                    <p id="invalid" style="display: none; color: rgb(165, 20, 20);"><strong>*invalid
                                            coupon try the
                                            correct couopon code</strong></p>
                                </div>
                            <hr>
                            <p>BILL TO </p>
                            <form id="checkout-form">
                                <input type="text" id="firstname" name="firstname" placeholder="First Name *" >
                                <input type="text" id="address" name="address" placeholder="Address 1 *" >
                                <input type="text" id="city" name="city" placeholder="City" >
                                <input type="text" id="state" name="state" placeholder="State" required >
                                <input  type="text" id="pincode" name="pincode" placeholder="Pincode" >
                                <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                                <input type="number" id="total" name="total" value="{{total}}" hidden>
                                <table class="table table-condensed total-result">

                                    <tr>
                                        <td>Total</td>
                                        <td><span id="grandTotal">{{total}} </span></td>
                                    </tr>
                                </table>
                                <hr>
                                

                                <hr>
                                <div>
                                    <input type="radio" name="payment-method" value="COD" checked> COD
                                </div>
                               

                                <div class="custom-control custom-radio">
                                    <input id="debit" name="payment-method" value="Razor_Pay" type="radio"
                                        class="custom-control-input" >Razor Pay
                                    <label class="custom-control-label" for="debit" ></label>
                                </div>
                                
                                 <div class="custom-control custom-radio">
                                    <input id="paypal" name="payment-method" type="radio" value="paypal"
                                        class="custom-control-input" >PayPal
                                    <label class="custom-control-label" for="paypal"></label>
                                   
                                </div>
                                  <div class="row">

                                <div id="paypal-payment-button"></div>
                                </div>
                                <button style="width: 25rem;" type="submit"
                                    class="btn btn-primary  float-right">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#cart_items-->



<script src="../js/bootstrap.min.js"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>




<script>
    function Passaddress(firstname, address, city, state, pincode) {
        document.getElementById('firstname').value = firstname
        document.getElementById('address').value = address
        document.getElementById('city').value = city
        document.getElementById('state').value = state
        document.getElementById('pincode').value = pincode


    }
</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>


$("#checkout-form").submit(function(e) {
    console.log("ffff")
  
  e.preventDefault()
}).validate({
          rules: {
            firstname: {
              required: true,
              minlength: 3
            },
            address: {
              required: true,
             
            },
            city: {
              required: true,
              Number: true,
              maxlength: 10
            },
            pincode: {
              required: true,
              minlength:4 
            },
            
          
          
    
   }
});






    $("#checkout-form").submit((e) => {
        console.log("hiii")
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                alert(response)
                if (response.codSuccess) {
                    location.href = '/order-success'
                } else if (response.paypal) {
                    console.log('hi')
                    paypal.Buttons({
                        createOrder: function (data, actions) {
                            console.log("hloooo its working")

                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: response.total
                                    }
                                }]
                            })
                        },
                        onApprove: function (data, action) {
                            return action.order.capture().then(function (details) {
                                location.href = '/order-success'
                            })
                        }
                    }).render("#paypal-payment-button")
                }

                else {
                    razorpayPayment(response)

                }
            }
        })
    })
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_0vH5oqVbjyHRrQ", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "BUY-HIGH",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {


                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }



    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-success'
                } else {
                    alert('Payment Failed ')
                }
            }
        })
    }



    function applyCoupons() {
        console.log("jfdslk")
        let couponis = $("#input-coupon").val()

        $.ajax({
            url: '/verifyCoupon',
            data: {
                couponis
            },
            method: 'post',
            success: (response) => {
               

                if (response.status == 0) {

                    $('#success').show()
                    $('#used').hide()
                    $('#invalid').hide()
                    let totalAmount = document.getElementById('grandTotal').innerHTML
                    let discountPrice = totalAmount * (100 - response.offer) / 100

                    document.getElementById('grandTotal').innerHTML = discountPrice
                    document.getElementById('total').value = discountPrice
                    console.log("dsddsss", discountPrice)
                }
                else if (response.status == 2) {
                    $('#used').show()
                    $('#success').hide()
                    $('#invalid').hide()
                }
                else if (response.status == 1) {
                    $('#invalid').show()
                    $('#used').hide()
                    $('#success').hide()
                }

            }
        })



    }


</script>
